In [3]:
import pandas as pd

path_raw = "../data/raw/datasetUMPOHoax.csv"
df_umpo = pd.read_csv(path_raw)

df_umpo.head()
df_umpo["label"].value_counts()

label
hoax     3042
?         845
valid     730
Name: count, dtype: int64

In [4]:
import pandas as pd

# 1) Ambil hanya hoax & valid
df_base = df_umpo[df_umpo["label"].isin(["hoax", "valid"])].copy()
print(df_base["label"].value_counts())

# 2) Mapping ke risiko hoaks 0–100
df_base["label_resiko_hoaks"] = df_base["label"].map({
    "hoax": 100,
    "valid": 0,
})

# 3) Rapikan kolom yang dipakai ke depan
#    (asumsi kolom teks-nya bernama 'tweet')
df_base = df_base.rename(columns={
    "tweet": "text",
    "label": "label_raw",
})
df_base = df_base[["text", "label_raw", "label_resiko_hoaks"]]

df_base.head()

label
hoax     3042
valid     730
Name: count, dtype: int64

,text,label_raw,label_resiko_hoaks
0,Mahasiswa ITS buat pembangkit listrik dari kol...,hoax,100
1,Lampu Dengan Sumber Energi Air Garam Ini Berpo...,hoax,100
2,#didUknow Lampu LED yang menggunakan air dan g...,hoax,100
3,#tekno Lampu Dengan Sumber Energi Air Garam In...,hoax,100
4,"Green House,lampu darurat dg sumber energi gar...",hoax,100

In [ ]:
output_path = "../data/processed/hoax_umpo_base.csv"
df_base.to_csv(output_path, index=False)
output_path

'../data/processed/hoax_umpo_base.csv'

:

In [1]:
import pandas as pd

# path dari folder notebooks/ ke processed
path_base = "../data/processed/hoax_umpo_base.csv"

df_base = pd.read_csv(path_base)
df_base.head()

,text,label_raw,label_resiko_hoaks
0,Mahasiswa ITS buat pembangkit listrik dari kol...,hoax,100
1,Lampu Dengan Sumber Energi Air Garam Ini Berpo...,hoax,100
2,#didUknow Lampu LED yang menggunakan air dan g...,hoax,100
3,#tekno Lampu Dengan Sumber Energi Air Garam In...,hoax,100
4,"Green House,lampu darurat dg sumber energi gar...",hoax,100

In [2]:
df_base["label_raw"].value_counts()

label_raw
hoax     3042
valid     730
Name: count, dtype: int64

In [3]:
# Pisahkan hoax dan valid
df_hoax = df_base[df_base["label_raw"] == "hoax"]
df_valid = df_base[df_base["label_raw"] == "valid"]

print("Jumlah hoax :", len(df_hoax))
print("Jumlah valid:", len(df_valid))

Jumlah hoax : 3042
Jumlah valid: 730

In [22]:
# Ambil 5 sampel acak hoax dan 5 sampel acak valid
df_hoax_sample = df_hoax.sample(n=50, random_state=42)
df_valid_sample = df_valid.sample(n=50, random_state=42)

# Gabungkan dan reset index
df_sample = pd.concat([df_hoax_sample, df_valid_sample], ignore_index=True)

# Kolom yang kita butuhkan untuk eksperimen awal
df_sample = df_sample[["text", "label_raw", "label_resiko_hoaks"]]

df_sample

,text,label_raw,label_resiko_hoaks
0,"Ngeliat harimau yang endut gitu, jadi keinget ...",hoax,100
1,Puasa Puasa RT \n@hunterisma\n: enak tuh ayam ...,hoax,100
2,Viral!!! Mohon Sebarkan Garam Mengandung Pecah...,hoax,100
3,"Pake aja kalung mengkudu, terhindar dari penya...",hoax,100
4,"#Share Ternyata, Daun dan Akar Dandelion Bersi...",hoax,100
...,...,...,...
95,"""Habis makan daging kambing suka pusing identi...",valid,0
96,Manfaat penting buah naga bagi kesehatan tubuh...,valid,0
97,"Hai #SobatLitbang, seperti yang kita tahu, Cov...",valid,0
98,[HOAKS] Makanan Tradisional akan Dikenakan Paj...,valid,0
99,Ohhh oke. Beneran baru tau ternyata ktp bukan ...,valid,0

In [5]:
df_sample.insert(0, "sample_id", range(1, len(df_sample) + 1))
df_sample

,sample_id,text,label_raw,label_resiko_hoaks
0,1,"Ngeliat harimau yang endut gitu, jadi keinget ...",hoax,100
1,2,Puasa Puasa RT \n@hunterisma\n: enak tuh ayam ...,hoax,100
2,3,Viral!!! Mohon Sebarkan Garam Mengandung Pecah...,hoax,100
3,4,"Pake aja kalung mengkudu, terhindar dari penya...",hoax,100
4,5,"#Share Ternyata, Daun dan Akar Dandelion Bersi...",hoax,100
5,6,"Ampuh Turunkan Kolesterol, Ini 6 Manfaat Jeruk...",valid,0
6,7,Ada peraturan motor 2 tak gaboleh lagi pake pe...,valid,0
7,8,Telapak Tangan Berkeringat Tanda Lemah Jantung...,valid,0
8,9,"Vertigo Bukan Penyakit Turunan, Kapanpun Verti...",valid,0
9,10,"Manfaat Olahraga Pagi, Tingkatkan Fokus hingga...",valid,0

In [ ]:
out_path = "../data/processed/hoax_umpo_sample_100.csv"
df_sample.to_csv(out_path, index=False)
out_path

'../data/processed/hoax_umpo_sample_10.csv'

In [7]:
import pandas as pd

# path dari folder notebooks ke processed
path_sample = "../data/processed/hoax_umpo_sample_10.csv"
df_sample = pd.read_csv(path_sample)

df_sample

,sample_id,text,label_raw,label_resiko_hoaks
0,1,"Ngeliat harimau yang endut gitu, jadi keinget ...",hoax,100
1,2,Puasa Puasa RT \n@hunterisma\n: enak tuh ayam ...,hoax,100
2,3,Viral!!! Mohon Sebarkan Garam Mengandung Pecah...,hoax,100
3,4,"Pake aja kalung mengkudu, terhindar dari penya...",hoax,100
4,5,"#Share Ternyata, Daun dan Akar Dandelion Bersi...",hoax,100
5,6,"Ampuh Turunkan Kolesterol, Ini 6 Manfaat Jeruk...",valid,0
6,7,Ada peraturan motor 2 tak gaboleh lagi pake pe...,valid,0
7,8,Telapak Tangan Berkeringat Tanda Lemah Jantung...,valid,0
8,9,"Vertigo Bukan Penyakit Turunan, Kapanpun Verti...",valid,0
9,10,"Manfaat Olahraga Pagi, Tingkatkan Fokus hingga...",valid,0

In [16]:
import sys
from pathlib import Path

# Tambahkan root project ke sys.path
project_root = Path.cwd().parent
sys.path.insert(0, str(project_root))

# Sekarang import dari src
from src.llm_features import hitung_skor_llm_df_multimodal

In [17]:
# Cell 4 — Hitung 3 skor LLM (intensitas_emosi, kecurigaan_format, kredibilitas_rendah)
# Catatan: fungsi ini akan memanggil Gemini untuk setiap baris df_sample.

df_sample_llm = hitung_skor_llm_df_multimodal(
    df_sample,
    text_col="text",              # kolom teks di df_sample
    # file_post_col dan file_profil_col dibiarkan default
)

print("Shape df_sample_llm:", df_sample_llm.shape)
df_sample_llm.head()

Shape df_sample_llm: (10, 7)

,sample_id,text,label_raw,label_resiko_hoaks,intensitas_emosi,kecurigaan_format,kredibilitas_rendah
0,1,"Ngeliat harimau yang endut gitu, jadi keinget ...",hoax,100,0.7,0.60,0.80
1,2,Puasa Puasa RT \n@hunterisma\n: enak tuh ayam ...,hoax,100,0.1,0.00,0.00
2,3,Viral!!! Mohon Sebarkan Garam Mengandung Pecah...,hoax,100,0.9,0.95,0.90
3,4,"Pake aja kalung mengkudu, terhindar dari penya...",hoax,100,0.4,0.75,0.90
4,5,"#Share Ternyata, Daun dan Akar Dandelion Bersi...",hoax,100,0.7,0.80,0.85

In [18]:
# Cell 5 — Simpan hasil scoring LLM sample 10

OUT_PATH_SAMPLE_LLM = "../data/processed/hoax_umpo_sample_10_llm2.csv"
df_sample_llm.to_csv(OUT_PATH_SAMPLE_LLM, index=False)

OUT_PATH_SAMPLE_LLM

'../data/processed/hoax_umpo_sample_10_llm2.csv'

In [19]:
# Cell 6 — Analisis rata-rata skor per label (hoax vs valid)

cols_skor = ["intensitas_emosi", "kecurigaan_format", "kredibilitas_rendah"]

group_stats = df_sample_llm.groupby("label_raw")[cols_skor].agg(["mean", "std"])
group_stats

          intensitas_emosi           kecurigaan_format            \
                      mean       std              mean       std
label_raw
hoax                  0.56  0.313050              0.62  0.368443
valid                 0.29  0.181659              0.20  0.209165

          kredibilitas_rendah
                         mean       std
label_raw
hoax                     0.69  0.387943
valid                    0.23  0.299166

In [15]:
df_sample_llm.groupby("label_raw")[cols_skor].mean()

           intensitas_emosi  kecurigaan_format  kredibilitas_rendah
label_raw
hoax                   0.54               0.51                 0.69
valid                  0.30               0.21                 0.32

In [20]:
df_sample_llm.groupby("label_raw")[cols_skor].mean()

           intensitas_emosi  kecurigaan_format  kredibilitas_rendah
label_raw
hoax                   0.56               0.62                 0.69
valid                  0.29               0.20                 0.23

In [23]:
# Cell 2 — Ambil sampel 50 hoax + 50 valid

n_per_class = 50  # kalau nanti mau 100, tinggal ganti jadi 100

df_hoax = df_base[df_base["label_raw"] == "hoax"].sample(
    n=n_per_class, random_state=42
)
df_valid = df_base[df_base["label_raw"] == "valid"].sample(
    n=n_per_class, random_state=42
)

df_sample_100 = pd.concat([df_hoax, df_valid], ignore_index=True)

# Optional: tambahkan ID sampel
df_sample_100.insert(0, "sample_id", range(1, len(df_sample_100) + 1))

df_sample_100["label_raw"].value_counts(), df_sample_100.head()

(label_raw
 hoax     50
 valid    50
 Name: count, dtype: int64,
    sample_id                                               text label_raw  \
 0          1  Ngeliat harimau yang endut gitu, jadi keinget ...      hoax
 1          2  Puasa Puasa RT \n@hunterisma\n: enak tuh ayam ...      hoax
 2          3  Viral!!! Mohon Sebarkan Garam Mengandung Pecah...      hoax
 3          4  Pake aja kalung mengkudu, terhindar dari penya...      hoax
 4          5  #Share Ternyata, Daun dan Akar Dandelion Bersi...      hoax

    label_resiko_hoaks
 0                 100
 1                 100
 2                 100
 3                 100
 4                 100  )

In [24]:
OUT_SAMPLE_100 = "../data/processed/hoax_umpo_sample_100.csv"
df_sample_100.to_csv(OUT_SAMPLE_100, index=False)
OUT_SAMPLE_100

'../data/processed/hoax_umpo_sample_100.csv'

In [25]:
# Cell 4 — Hitung skor LLM (100 data: 50 hoax + 50 valid)

df_sample_100_llm = hitung_skor_llm_df_multimodal(
    df_sample_100,
    text_col="text",  # sesuaikan dengan nama kolom teks di hoax_umpo_base
    # kolom gambar dibiarkan default (None) karena UMPO text-only
)

df_sample_100_llm.head()

,sample_id,text,label_raw,label_resiko_hoaks,intensitas_emosi,kecurigaan_format,kredibilitas_rendah
0,1,"Ngeliat harimau yang endut gitu, jadi keinget ...",hoax,100,0.65,0.45,0.65
1,2,Puasa Puasa RT \n@hunterisma\n: enak tuh ayam ...,hoax,100,0.10,0.00,0.10
2,3,Viral!!! Mohon Sebarkan Garam Mengandung Pecah...,hoax,100,0.90,0.95,0.90
3,4,"Pake aja kalung mengkudu, terhindar dari penya...",hoax,100,0.40,0.70,0.90
4,5,"#Share Ternyata, Daun dan Akar Dandelion Bersi...",hoax,100,0.70,0.60,0.80

In [26]:
OUT_SAMPLE_100_LLM = "../data/processed/hoax_umpo_sample_100_llm.csv"
df_sample_100_llm.to_csv(OUT_SAMPLE_100_LLM, index=False)
OUT_SAMPLE_100_LLM

'../data/processed/hoax_umpo_sample_100_llm.csv'

In [27]:
# Cell 5 — Analisis rata-rata skor untuk 50 hoax vs 50 valid

cols_skor = ["intensitas_emosi", "kecurigaan_format", "kredibilitas_rendah"]

group_stats_100 = df_sample_100_llm.groupby("label_raw")[cols_skor].agg(["mean", "std"])
group_stats_100

          intensitas_emosi           kecurigaan_format            \
                      mean       std              mean       std
label_raw
hoax                 0.544  0.267574             0.495  0.300043
valid                0.326  0.200825             0.266  0.229560

          kredibilitas_rendah
                         mean       std
label_raw
hoax                   0.6710  0.338678
valid                  0.3436  0.300114

In [28]:
df_sample_100_llm.groupby("label_raw")[cols_skor].mean()

           intensitas_emosi  kecurigaan_format  kredibilitas_rendah
label_raw
hoax                  0.544              0.495               0.6710
valid                 0.326              0.266               0.3436

In [29]:
# nilai threshold yang kita pakai (boleh kamu tweak dikit)
KR_HOAX_MIN = 0.59
KR_VALID_MAX = 0.43

KF_HOAX_MIN = 0.44
KF_VALID_MAX = 0.32

def label_core(row):
    if row["label_raw"] == "hoax":
        if row["kredibilitas_rendah"] >= KR_HOAX_MIN and row["kecurigaan_format"] >= KF_HOAX_MIN:
            return "core_hoax"
        else:
            return "ambiguous_hoax"
    elif row["label_raw"] == "valid":
        if row["kredibilitas_rendah"] <= KR_VALID_MAX and row["kecurigaan_format"] <= KF_VALID_MAX:
            return "core_valid"
        else:
            return "ambiguous_valid"
    else:
        return "other"

df_sample_100_llm["core_flag"] = df_sample_100_llm.apply(label_core, axis=1)
df_sample_100_llm["core_flag"].value_counts()

core_flag
core_hoax          31
core_valid         31
ambiguous_hoax     19
ambiguous_valid    19
Name: count, dtype: int64

In [30]:
# Pisah per kategori
df_amb_hoax  = df_sample_100_llm[df_sample_100_llm["core_flag"] == "ambiguous_hoax"].copy()
df_amb_valid = df_sample_100_llm[df_sample_100_llm["core_flag"] == "ambiguous_valid"].copy()

df_amb_hoax.shape, df_amb_valid.shape

((19, 8), (19, 8))

In [31]:
# 5 contoh ambiguous_hoax (random)
df_amb_hoax_sample = df_amb_hoax.sample(5, random_state=1)[
    ["sample_id", "text", "label_raw",
     "intensitas_emosi", "kecurigaan_format", "kredibilitas_rendah"]
]
df_amb_hoax_sample

,sample_id,text,label_raw,intensitas_emosi,kecurigaan_format,kredibilitas_rendah
7,8,Banyak manfaat kayu manis ni sebenarnya :) ht...,hoax,0.25,0.15,0.10
40,41,Masker yang bagus untuk muka kusam. Apaya kira...,hoax,0.00,0.00,0.10
11,12,Buah pisang memiliki kandungan serotonin yang ...,hoax,0.15,0.25,0.65
29,30,[CEK FAKTA] Vaksin COVID-19 Berbahaya bagi Ibu...,hoax,0.80,0.20,0.90
6,7,"#Videolah: Jackie Chan meninggal dunia, ternya...",hoax,0.35,0.20,0.10

In [32]:
# 5 contoh ambiguous_valid (random)
df_amb_valid_sample = df_amb_valid.sample(5, random_state=2)[
    ["sample_id", "text", "label_raw",
     "intensitas_emosi", "kecurigaan_format", "kredibilitas_rendah"]
]
df_amb_valid_sample

,sample_id,text,label_raw,intensitas_emosi,kecurigaan_format,kredibilitas_rendah
74,75,Jangan terlalu sering makan mie instan! Di usi...,valid,0.80,0.70,0.90
66,67,Ternyata garam bisa mengobati sakit gigi #Fakta,valid,0.35,0.65,0.75
86,87,Ada beberapa kandungan dalam skincare yang san...,valid,0.50,0.20,0.50
50,51,"Ampuh Turunkan Kolesterol, Ini 6 Manfaat Jeruk...",valid,0.40,0.10,0.60
77,78,Malam kretekus dan seluruh masyarakat Indonesi...,valid,0.55,0.40,0.60

In [34]:
KR_HOAX_MIN = 0.59
KR_VALID_MAX = 0.43

KF_HOAX_MIN = 0.44
KF_VALID_MAX = 0.32

def explain_ambiguity(row):
    kr = row["kredibilitas_rendah"]
    kf = row["kecurigaan_format"]
    if row["label_raw"] == "hoax":
        reasons = []
        if kr < KR_HOAX_MIN:
            reasons.append(f"kredibilitas_rendah {kr:.2f} < batas hoax {KR_HOAX_MIN}")
        if kf < KF_HOAX_MIN:
            reasons.append(f"kecurigaan_format {kf:.2f} < batas hoax {KF_HOAX_MIN}")
        return "; ".join(reasons)
    elif row["label_raw"] == "valid":
        reasons = []
        if kr > KR_VALID_MAX:
            reasons.append(f"kredibilitas_rendah {kr:.2f} > batas valid {KR_VALID_MAX}")
        if kf > KF_VALID_MAX:
            reasons.append(f"kecurigaan_format {kf:.2f} > batas valid {KF_VALID_MAX}")
        return "; ".join(reasons)
    else:
        return "-"

# Contoh penjelasan untuk 5 ambiguous hoax
df_amb_hoax_sample.assign(alasan=lambda d: d.apply(explain_ambiguity, axis=1))

,sample_id,text,label_raw,intensitas_emosi,kecurigaan_format,kredibilitas_rendah,alasan
7,8,Banyak manfaat kayu manis ni sebenarnya :) ht...,hoax,0.25,0.15,0.10,kredibilitas_rendah 0.10 < batas hoax 0.59; ke...
40,41,Masker yang bagus untuk muka kusam. Apaya kira...,hoax,0.00,0.00,0.10,kredibilitas_rendah 0.10 < batas hoax 0.59; ke...
11,12,Buah pisang memiliki kandungan serotonin yang ...,hoax,0.15,0.25,0.65,kecurigaan_format 0.25 < batas hoax 0.44
29,30,[CEK FAKTA] Vaksin COVID-19 Berbahaya bagi Ibu...,hoax,0.80,0.20,0.90,kecurigaan_format 0.20 < batas hoax 0.44
6,7,"#Videolah: Jackie Chan meninggal dunia, ternya...",hoax,0.35,0.20,0.10,kredibilitas_rendah 0.10 < batas hoax 0.59; ke...

In [35]:
df_amb_valid_sample.assign(alasan=lambda d: d.apply(explain_ambiguity, axis=1))

,sample_id,text,label_raw,intensitas_emosi,kecurigaan_format,kredibilitas_rendah,alasan
74,75,Jangan terlalu sering makan mie instan! Di usi...,valid,0.80,0.70,0.90,kredibilitas_rendah 0.90 > batas valid 0.43; k...
66,67,Ternyata garam bisa mengobati sakit gigi #Fakta,valid,0.35,0.65,0.75,kredibilitas_rendah 0.75 > batas valid 0.43; k...
86,87,Ada beberapa kandungan dalam skincare yang san...,valid,0.50,0.20,0.50,kredibilitas_rendah 0.50 > batas valid 0.43
50,51,"Ampuh Turunkan Kolesterol, Ini 6 Manfaat Jeruk...",valid,0.40,0.10,0.60,kredibilitas_rendah 0.60 > batas valid 0.43
77,78,Malam kretekus dan seluruh masyarakat Indonesi...,valid,0.55,0.40,0.60,kredibilitas_rendah 0.60 > batas valid 0.43; k...

## Bagian C — PSO dengan 62 data core (UMPO sample)

In [36]:
import numpy as np
from src.pso_optimizer import optimize_fuzzy_scaling_with_pso
from src.fuzzy_system import hitung_resiko_hoaks

cols_skor = ["intensitas_emosi", "kecurigaan_format", "kredibilitas_rendah"]

# 1. Ambil hanya core_hoax & core_valid
df_core = df_sample_100_llm[
    df_sample_100_llm["core_flag"].isin(["core_hoax", "core_valid"])
].copy()

# label target 0 / 100
df_core["label_resiko_hoaks"] = np.where(
    df_core["label_raw"] == "hoax", 100.0, 0.0
)

df_core["core_flag"].value_counts(), df_core.shape

(core_flag
 core_hoax     31
 core_valid    31
 Name: count, dtype: int64,
 (62, 8))

In [37]:
df_core.head()

,sample_id,text,label_raw,label_resiko_hoaks,intensitas_emosi,kecurigaan_format,kredibilitas_rendah,core_flag
0,1,"Ngeliat harimau yang endut gitu, jadi keinget ...",hoax,100.0,0.65,0.45,0.65,core_hoax
2,3,Viral!!! Mohon Sebarkan Garam Mengandung Pecah...,hoax,100.0,0.90,0.95,0.90,core_hoax
3,4,"Pake aja kalung mengkudu, terhindar dari penya...",hoax,100.0,0.40,0.70,0.90,core_hoax
4,5,"#Share Ternyata, Daun dan Akar Dandelion Bersi...",hoax,100.0,0.70,0.60,0.80,core_hoax
9,10,Info Menarik Terbaru Tentang (Pemeran Superman...,hoax,100.0,0.40,0.80,0.80,core_hoax

In [38]:
# Label target resiko hoaks (0–100)
df_core["label_resiko_hoaks"] = np.where(
    df_core["label_raw"] == "hoax", 100.0, 0.0
)

In [39]:
from src.pso_optimizer import optimize_fuzzy_scaling_with_pso

result_pso = optimize_fuzzy_scaling_with_pso(
    df=df_core,
    target_col="label_resiko_hoaks",
    n_particles=40,        # boleh 30 dulu kalau mau cepat
    n_iters=80,            # bisa kamu kecilkan untuk tes awal, misal 40
    bounds_scale=(0.5, 1.5),
    seed=42,
)

result_pso

{'best_position': array([0.5       , 1.5       , 1.33333334]),
 'best_fitness': 248.07648656458298,
 'history': [299.73364777044793,
  251.36706241657413,
  250.4654422014345,
  250.4654422014345,
  248.35673286120522,
  248.35673286120522,
  248.35673286120522,
  248.35673286120522,
  248.35673286120522,
  248.35673286120522,
  248.35673286120522,
  248.35673286120522,
  248.32243299576788,
  248.32243299576788,
  248.32243299576788,
  248.32243299576788,
  248.21364449654843,
  248.21364449654843,
  248.21364449654843,
  248.1455447198478,
  248.0867315578258,
  248.0867315578258,
  248.0867315578258,
  248.0867315578258,
  248.0867315578258,
  248.0867315578258,
  248.08419451648894,
  248.08419451648894,
  248.0828192724288,
  248.0828192724288,
  248.07674447739868,
  248.07674447739868,
  248.07659512579505,
  248.07659512579505,
  248.07659512579505,
  248.07659512579505,
  248.07659512579505,
  248.07659512579505,
  248.07659512579505,
  248.07659512579505,
  248.07659512579505,
  248.07659512579505,
  248.07659512579505,
  248.07659512579505,
  248.0765235389287,
  248.0765235389287,
  248.0765235389287,
  248.07648866270736,
  248.07648866270736,
  248.07648866270736,
  248.07648866270736,
  248.07648866270736,
  248.07648866270736,
  248.07648866270736,
  248.07648866270736,
  248.07648866270736,
  248.07648866270736,
  248.07648866270736,
  248.07648866270736,
  248.07648866270736,
  248.07648866270736,
  248.07648866270736,
  248.07648866270736,
  248.07648866270736,
  248.07648866270736,
  248.07648866270736,
  248.07648866270736,
  248.07648866270736,
  248.07648866270736,
  248.07648866270736,
  248.07648866270736,
  248.07648866270736,
  248.07648866270736,
  248.07648866270736,
  248.07648656458298,
  248.07648656458298,
  248.07648656458298,
  248.07648656458298,
  248.07648656458298,
  248.07648656458298,
  248.07648656458298]}

In [40]:
best_w = result_pso["best_position"]
best_mse = result_pso["best_fitness"]

print("w terbaik  :", best_w)   # [w_emosi, w_format, w_kred]
print("MSE terbaik:", best_mse)

w terbaik  : [0.5        1.5        1.33333334]
MSE terbaik: 248.07648656458298

In [41]:
from src.fuzzy_system import hitung_resiko_hoaks

def pred_resiko_with_w(df, w):
    emo  = np.clip(df["intensitas_emosi"].to_numpy() * w[0], 0.0, 1.0)
    frm  = np.clip(df["kecurigaan_format"].to_numpy() * w[1], 0.0, 1.0)
    kred = np.clip(df["kredibilitas_rendah"].to_numpy() * w[2], 0.0, 1.0)

    preds = [
        hitung_resiko_hoaks(e, f, k, output_scale_100=True)
        for e, f, k in zip(emo, frm, kred)
    ]
    return np.array(preds)

y_true = df_core["label_resiko_hoaks"].to_numpy()
y_pred = pred_resiko_with_w(df_core, best_w)

mse  = np.mean((y_pred - y_true)**2)
rmse = np.sqrt(mse)
print("RMSE di core set:", rmse)

# Kalau mau lihat akurasi klasifikasi (threshold 50)
y_true_cls = (y_true >= 50).astype(int)
y_pred_cls = (y_pred >= 50).astype(int)
acc = (y_true_cls == y_pred_cls).mean()
print("Akurasi klasifikasi (threshold 50):", acc)

RMSE di core set: 15.750444011664655
Akurasi klasifikasi (threshold 50): 0.9838709677419355

In [42]:
# pakai df_sample_100_llm utuh
y_true_full = np.where(df_sample_100_llm["label_raw"] == "hoax", 100.0, 0.0)
y_pred_full = pred_resiko_with_w(df_sample_100_llm, best_w)

mse_full = np.mean((y_pred_full - y_true_full)**2)
rmse_full = np.sqrt(mse_full)
print("RMSE di 100 sampel (core + ambiguous):", rmse_full)

y_true_full_cls = (y_true_full >= 50).astype(int)
y_pred_full_cls = (y_pred_full >= 50).astype(int)
acc_full = (y_true_full_cls == y_pred_full_cls).mean()
print("Akurasi di 100 sampel:", acc_full)

RMSE di 100 sampel (core + ambiguous): 50.29978401400031
Akurasi di 100 sampel: 0.65

In [43]:
df_amb = df_sample_100_llm[
    df_sample_100_llm["core_flag"].isin(["ambiguous_hoax", "ambiguous_valid"])
].copy()

y_true_amb = np.where(df_amb["label_raw"] == "hoax", 100.0, 0.0)
y_pred_amb = pred_resiko_with_w(df_amb, best_w)

mse_amb = np.mean((y_pred_amb - y_true_amb)**2)
rmse_amb = np.sqrt(mse_amb)
print("RMSE di ambiguous set:", rmse_amb)

y_true_amb_cls = (y_true_amb >= 50).astype(int)
y_pred_amb_cls = (y_pred_amb >= 50).astype(int)
acc_amb = (y_true_amb_cls == y_pred_amb_cls).mean()
print("Akurasi di ambiguous set:", acc_amb)

RMSE di ambiguous set: 79.07792376385926
Akurasi di ambiguous set: 0.10526315789473684

In [ ]:
df_amb = df_sample_100_llm[
    df_sample_100_llm["core_flag"].isin(["ambiguous_hoax", "ambiguous_valid"])
].copy()

df_amb["pred_resiko"] = pred_resiko_with_w(df_amb, best_w)

df_amb.groupby(["core_flag", "label_raw"])[
    ["intensitas_emosi", "kecurigaan_format", "kredibilitas_rendah", "pred_resiko"]
].mean()

,,intensitas_emosi,kecurigaan_format,kredibilitas_rendah,pred_resiko
core_flag,label_raw,,,,
ambiguous_hoax,hoax,0.336842,0.147368,0.347368,24.508807
ambiguous_valid,valid,0.444737,0.505263,0.697368,78.926347

: